<% include partials/_header %>

<div class="container">

  <div class="row">
    <!--FORM-->
    <div class="col-md-3">
      <div class="card">
        <div class="card-body">
          <form action="/add" method="post">
            <div class="form-group">
              <input class="form-control" type="text" name="nick" placeholder="nick">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="correo" placeholder="correo">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="password" placeholder="password">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="nombres" placeholder="nombres">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="edad" placeholder="edad">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="peso" placeholder="peso">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="genero" placeholder="genero">
            </div>
            <div class="form-group">
              <input class="form-control" type="text" name="objetivo" placeholder="objetivo">
            </div>
            <button class="btn btn-primary" type="submit">
              Agregar
            </button>
          </form>
        </div>
      </div>
    </div>

    <!-- LIST -->
    <div class="col-md-7">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>N°</th>
            <th>Nick</th>
            <th>Correo</th>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Peso</th>
            <th>Genero</th>
            <th>Objetivo</th>
          </tr>
        </thead>
        <tbody>
          <% for(var i=0; i < user.length; i++) { %>
            <tr>
              <td><%= i + 1%></td>
              <td><strong><%= user[i].nick %></strong></td>
              <td><%= user[i].correo %></td>
              <td><%= user[i].nombres %></td>
              <td><%= user[i].edad %></td>
              <td><%= user[i].peso %></td>
              <td><%= user[i].genero %></td>
              <td><%= user[i].objetivo %></td>
              <td>
                <a href="/delete/<%= user[i]._id %>"
                  class="btn btn-danger">
                  Eliminar
                </a>
               <a href="/edit/<%= user[i]._id %>" class="btn btn-info">
                  Edit
                </a>
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>
  </div>

</div>

